{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/logo.jpg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header">'Rhythm & Booze' - Points of Interest</header>
            <h4> Irleand's Top Music Pubs!  </h4>
            <br>
            <p>(Information References : GABY GUEDEZ thetaste.ie )</p>
        </article>
    </div>
</section>